files/
flake/
nvim/
private/
qutebrowser/.config/qutebrowser/bookmarks/
qutebrowser/.config/qutebrowser/quickmarks
ncmpcpp/.config/ncmpcpp/error.log
hypr/.config/hypr/include/device.conf
qutebrowser/.config/qutebrowser/catppuccin/__pycache__
neomutt/.config/neomutt/accounts
atuin/.local/
atuin/.local_hidden_message
